---
import styles from './style.module.scss'
---

<section id="top" class={styles.hero}>
  <h1 class={styles.title}>andmohiko.dev</h1>
  <div class={styles.links}>
    <a href="https://twitter.com/andmohiko">
      <img src="/images/twitter.png" alt="twitter" class={styles.icon} />
    </a>
    <a href="https://github.com/andmohiko">
      <img src="/images/github.png" alt="github" class={styles.icon} />
    </a>
  </div>
</section>