---
import dayjs from 'dayjs'
import type { Blog } from '~/types/blog'

interface Props {
  blog: Blog;
}

const { blog } = Astro.props;

const link = blog.media ? blog.url : `${import.meta.env.APP_URL}/blog/${blog.slug}`
---

<article class="blog-title-card">
  <a href={link} target={blog.media ? '_blank' : undefined} class="blog-title-row">
    {blog.media ? (
      <h3 class="title">
        {blog.title}<span class="media">{` (${blog.media})`}</span>
      </h3>
    ) : (
      <h3 class="title">{blog.title}</h3>
    )}
    <p class="date">{dayjs(new Date(blog.publishedAt)).format('YYYY.MM.DD')}</p>
  </a>
</article>

<style lang="scss" scoped>
.blog-title-card {
  width: 100%;
  padding-bottom: 8px;
  border-bottom: 0.5px dashed rgb(80, 95, 108);

  .blog-title-row {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .title {
      font-size: 20px;
      font-weight: normal;
      line-height: 1.8;
      letter-spacing: 0.1px;

      .media {
        font-size: 15px;
        line-height: 1.2;
        opacity: 0.8;
      }
    }

    .date {
      font-size: 15px;
      margin-left: 8px;
      color: rgba(255, 255, 255, 0.8);
      text-align: right;
      white-space: nowrap;
    }
  }
}
</style>
