---
import type { Work } from '~/types/work'

import styles from './style.module.scss'

interface Props {
  work: Work
}

const { work } = Astro.props;
---

<article class={styles.workCard}>
  <div class={styles.header}>
    <h3 class={styles.title}>{work.title}</h3>
    <p class={styles.description}>{work.description}</p>
    <div class={styles.tags}>
      {work.tags.map((tag) => (<span class={styles.tag}>{tag}</span>))}
    </div>
  </div>
  <a href={work.link} target="_blank">
    <img src={work.thumbnail.url} alt={work.title} class={styles.thumbnail}>
  </a>
  <div set:html={work.body}></div>
</article>
